 #FocusBG{
	height:207px;
	width:100%;
	position:relative;
	top:-93px;}
.fullSlide {
	width:100%;
	position:relative;
}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul {
	width:100% !important;
}
.fullSlide .bd li {
	width:100% !important;
	height:300px;
	overflow:hidden;
	text-align:center;
}
.fullSlide .bd li a {
	display:block;
	height:300px;
}
.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul {
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:22px;
	height:22px;
	margin:5px;
	overflow:hidden;
	filter:alpha(opacity=50);
	opacity:0.5;
	line-height:999px;
}
.fullSlide .hd ul .on {
}
.fullSlide .prev,.fullSlide .next {
	display:block;
	position:absolute;
	z-index:1;
	top:50%;
	margin-top:-30px;
	left:15%;
	z-index:1;
	width:40px;
	height:60px;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}
.fullSlide .next {
	left:auto;
	right:15%;
	background-position:-6px -137px;
}

#body #InnerBanner{
	width:100%;
	text-align:center;
	overflow:hidden;
	margin:auto;}
#body .inner{
	width:1200px;
	margin:auto;
	padding-top:0px;
	margin-bottom:50px;}
#body .inner .left{
	padding-left:0px;
	width:252px;
	float:left;}
#body .inner .right{
	width:920px;
	float:right;
	background:#FFF;
	border:1px solid #E5E5E5;
	padding-bottom:50px;}
#body .inner .left .Sbox{
	background:#fff;
	padding-bottom:0px;
	border:1px solid #E5E5E5;
	}

#body .inner .left .Sbox .topic2{
	background:#27323F;
	font-size:16px;
	height:40px;
	font-family:"Microsoft Yahei";
	margin:0px 0px 0px 0px;
	line-height:40px;
	padding-left:0px;
	color:#FFF;
	font-weight:normal;
	position:relative;
	text-align:center;
	border-bottom: 1px solid #1a2324;
}
#body .inner .left .Sbox .topic{
	background:#F5F5F5;
	font-size:16px;
	height:40px;
	font-family:"Microsoft Yahei";
	margin:0px 0px 0px 0px;
	line-height:40px;
	padding-left:0px;
	color:#27323F;
	font-weight:normal;
	position:relative;
	text-align:center;
}

#body .inner .left .Sbox .blank ul {
	padding:0px 0px;}
#body .inner .left .Sbox .blank ul li{
	cursor:pointer;
}
#body .inner .left .Sbox .blank .current a{
	}	
#body .inner .left .Sbox .blank .current a{
	color:#27323F;
	font-weight:bold;}
#body .inner .left .Sbox .blank ul li a{
	display:block;
	height:36px;
	line-height:36px;
	padding-left:30px;
	border-top:1px solid #E5E5E5;
	background:#F3F3F3 url("../../images/icon_3.jpg") no-repeat 12px center;
}	
#body .inner .left .Sbox .blank ul li a:hover{
	color:#fff;
	background:#27323F;
	font-weight:bold;
	text-decoration:none;}

#body .inner .left .Sbox .list dl{
	padding:0px 10px;
	}
#body .inner .left .Sbox .list dl dt{
	font-family:Arial;
	color:#666666;
	line-height:20px;
	font-size:10px;}

#body .inner .left .Sbox .list dl dd{
	line-height:30px;
	border-bottom:1px dotted #DDDDDD;
	background:url("../../images/title_icon1.jpg") no-repeat 0px 12px;
	padding-left:10px;
	}
#body .inner .left .Sbox .txt{
	padding:10px;
	width:230px;
	padding-top:150px;
	background:url("../../images/contact_bg.png") no-repeat 0px 0px;
	}
/* Pro List Start */
.HituxMiddle{

}
.HituxMiddle .leftMenu{
	width: 250px;
	background-color: #1c2b36;
}
.HituxMiddle .HituxMiddleList {
	width: 250px;
}
.HituxMiddle .HituxMiddleList ul li{
	display: block;
	text-align: center;
	width: 100%;
}
.HituxMiddle .HituxMiddleList ul li .fuMenu{
	color: #F2F2F2;
	font-size: 14px;
	cursor: pointer;
	height: 60px;
	line-height: 60px;
	text-align: center;
	width: 250px;
	background: #273536;
	border-bottom: 1px solid #1a2324;
	float: left;
}
.HituxMiddle .HituxMiddleList ul li .current{
	background: #1a2324;
	border-left:3px solid #0FB9EF;
	width:247px;
	}


.HituxMiddle .HituxMiddleList ul li .xiala{
	float: left;
	margin-left: -50px;
	margin-top: 27px;
}
.HituxMiddle .HituxMiddleList ul li .div1 {
	width: 100%;
	height: auto;
	float: left;
}
.HituxMiddle .HituxMiddleList ul li .div1 .zcd{
	color: #869fb1;
	font-size: 14px;
	height: 60px;
	background-color: #F5F5F5;
	margin-bottom: 1px;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 250px;
	border-bottom:1px solid #e7e7e7;
}
.HituxMiddle .HituxMiddleList ul li .div1 .zcd:hover a{
	color:#FFF;}
.HituxMiddle .HituxMiddleList ul li .div1 .zcd a:hover{
	color:#FFF;
	text-decoration:none;}

.HituxMiddle .HituxMiddleList ul li .fuMenu a{
	color:#FFF;}
.div1 {
	height: 200px;
	display: none;
}
.HituxMiddle .HituxMiddleList ul li .div1 .zcd:hover{ color: #FFF; background-color: #27323F; font-weight: bold; }
.removes{
	color: #0FB9EF !important;
	border-left: 3px solid #0FB9EF;
}
/*Pro List end*/
	
#body .inner .right  .Position{
	font-size:12px;
	line-height:33px;
	background:#F5F5F5 url("../../images/s-homeico.png") no-repeat 10px center;
	color:#999;}
#body .inner .right  .Position a{
	color:#999;}
#body .inner .right  .Position span{
	padding-left:30px;
 	}


#body .inner .right .main{
	padding:10px 20px;
	font-size:12px;}

/*content*/
#body .inner .right .main .content .title h3{
	text-align:center;
	font-size:24px;
	font-weight:normal;
	font-family:"Microsoft Yahei";}
#body .inner .right .main .content .infos{
	font-size:12px;
	line-height:40px;
	color:#666666;
	text-align:center;}
#body .inner .right .main .content .maincontent{
	font-size:14px;}
#body .inner .right .main .content .maincontent p{
	padding:5px 0px;
	line-height:200%;
	}
#body .inner .right .main .content .download{
	background:url("../../images/HituxCMSRate/downicon.gif") no-repeat 15px 7px;
	padding-left:55px;
	border:1px solid #F5F5F5;
	line-height:40px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 0px;}

#body .inner .right .main .content .prenext{
	padding:10px 0px;
	margin-top:10px;}
#body .inner .right .main .content .prenext ul li{
	line-height:30px;
	background:url("http://127.0.0.1/images/HituxCMSRate/jiantou.gif") no-repeat 0px 1px;
	padding-left:15px;}				
				
#body .inner .right .main .ArticleList{
	font-size:12px;}
#body .inner .right .main .ArticleList td{
	line-height:35px;
	border-bottom:1px dashed #CCC;}	
#body .inner .right .main .ArticleList .fw_t{
	font-size:12px;
	}
#body .inner .right .main .ArticleList .fw_s{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;}

/* recruit */

#body .inner .right .main .RecruitList{
	}
#body .inner .right .main .RecruitList td{
	line-height:35px;
	border-bottom:1px dotted #CCC;
	font-size:12px;}	
#body .inner .right .main .RecruitList .Rtitle{
	background:#f5f5f5;
	color:#27323F;
	font-size:14px;
	padding-left:10px;
	height:30px;
	line-height:30px;}
#body .inner .right .main .RecruitList .Rtitle span{
	text-align:right;
	font-size:12px;}

#body .inner .right .main .content .ProInfo .image{
	width:300px;
	margin:auto;}	
	
#body .inner .right .main .content .ProInfo .column{
	}
	
#body .inner .right .main .content .ProInfo .image img{
	width:270px;
	height:270px;
	}

#body .inner .right .main .content .ProInfo .image a{
	display:block;
	width:270px;
	height:270px;
	border:2px solid #F5F5F5;
	padding:2px;	
	}
#body .inner .right .main .content .ProInfo .image a:hover{
	border:2px solid #27323F;}
#body .inner .right .main .content .ProInfo .column .title{
	
	padding:10px 10px;}
#body .inner .right .main .content .ProInfo .column .title h3{
	text-align:center;
	font-size:14px;
	line-height:25px;
	font-weight:bold;}
	
#body .inner .right .main .content .ProInfo .column .infos{
	text-align:left;}
#body .inner .right .main .content .ProInfo .column ul li{
	line-height:33px;
	height:33px;
	color:#333;
	font-weight:normal;}

#body .inner .right .main .content .ProInfo .column ul li span{
	width:100px;
	height:20px;
	font-weight:bold;
	padding:3px;
	color:#333;
	}					
#body .inner .right .main .content .ProInfo .column ul .MPrice{
	color:#666666;
	text-decoration:line-through;
	}
#body .inner .right .main .content .ProInfo .column ul .NPrice{
	color:#F00;
	font-weight:bold;}
#body .inner .right .main .content .ProInfo .column ul .NPrice .BuyCount{
	color:#060;}
	
#body .inner .right .main  .IntroTitle{
	font-size:14px;
	line-height:25px;
	border-left:3px solid #27323F;
	margin:10px 0px;
	padding-left:10px;
	color:#27323F;
	font-weight:bold;
	background-color:#e5e5e5;}

#body .inner .right .main .content .MorePro{
	}

#body .inner .right .main .content .MorePro  .albumblock{
  	width:160px;
	height:190px;
	float:left;}
#body .inner .right .main .content .MorePro  .albumblock .inner{
  	width:160px;
	height:190px;
	}

#body .inner .right .main .content .MorePro .albumblock .inner img{
 	}

#body .inner .right .main .content .MorePro  .albumblock .inner .albumtitle{
 	}
	
#body .inner .right .main .content .CaseBlock li{
	width:330px;
	float:left;
	padding-left:10px;
	}
#body .inner .right .main .content .CaseBlock .Cimg a{
	display:block;
	border:1px solid #F5F5F5;
	padding:1px;}
#body .inner .right .main .content .CaseBlock .Cimg a:hover{
	border:1px solid #27323F;}		
#body .inner .right .main .content .CaseBlock .case_ct{ height:30px; line-height:30px; color:#2586BE; background:#E5F4FC; font-weight:bold;}
#body .inner .right .main .content .CaseBlock .case_txt{ padding-left:10px;height:30px; line-height:30px;   text-align:left;font-size:12px;color:#666;}
#body .inner .right .main .content .CaseBlock .case_mc{ color:#C90;font-weight:bold;}
#body .inner .right .main .content .CaseBlock .case_mc a{color:#c90;}
#body .inner .right .main .content .CaseBlock .hycd_ct{ height:35px; line-height:35px;  color:#fff;  font-weight:bold; padding-left:40px;}
#body .inner .right .main .content .CaseBlock .hycd_ct a{ color:#fff;}
#body .inner .right .main .content .CaseBlock .hycd_ct a:hover{ color:#FFFACC}
#body .inner .right .main .content .CaseBlock .hycd_ct a:visited{ color:#fff}
#body .inner .right .main .content .CaseBlock .hycd_mc{ color:#ff6600;}
#body .inner .right .main .content .CaseBlock .ttp{ margin-top:10px; margin-bottom:10px;}	


/* sitemap */
#body .inner .right .main .SiteMap{
	padding:0px 10px;}
		
#body .inner .right .main .SiteMap ul li{
	font-weight:bold;
	line-height:25px;
	padding:10px 20px;
	border-bottom:1px dashed #CCCCCC;
	font-size:14px;
	background:url("http://127.0.0.1/images/HituxCMSRate/ico4.jpg") no-repeat left 18px;}


#body .inner .right .main .SiteMap ul li ul li{
	font-weight:normal;
	border-bottom:none;
	font-size:12px;
	background:none;
	padding:5px 0px;}
					



/* FeedBack */
 .FeedBack {}
 .FeedBack .Fleft{
	width:90px;
	float:left;
	}
 .FeedBack .Fleft .Ficon{
	padding:0px  12px;
	}
 .FeedBack .Fleft .Fname{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-top:5px;
	color:#27323F;
	font-weight:bold;}		
 .FeedBack .Fright{
	float:left;
	width:600px;
	padding-bottom:10px;
	}
 .FeedBack .Fright .Fcontent .Ftime{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	color:#27323F;
	padding:0px 20px 5px 20px;}	
 .FeedBack .Fright .Fcontent{
	width:600px;
	background:url("../../images/HituxCMSRate/PostBG.jpg") no-repeat left top;
	padding:10px 0px;
	}
 .FeedBack .Fright .Fcontent p{
	padding:0px 20px 5px 50px;}

 .FeedBack .Fright .Fcontent .Freply .FRtitle{
	margin-left:20px;
	line-height:20px;
	color:#FFFFFF;
	height:25px;
	background:url("../../images/HituxCMSRate/picon.gif") no-repeat 2px 0px;
	padding-left:20px;
	font-weight:bold;}
 .FeedBack .Fright .Fcontent .Freply p{
	color:#989E4D}	
 .FeedBack .Fright .Fline{
	float:right;
	width:572px;
	border-top:1px solid #EDEDEF;
	filter:progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=1, Direction=180);} 

 .FeedBack .IntroTitle{
	width:765px;
	margin:auto;
	}
 .FeedBack .commentbox{
	padding-top:5px;}	
 .FeedBack .commentbox #commentform td{
	height:40px;
	font-size:12px;}
 .FeedBack .commentbox #commentform input{
	height:25px;
	line-height:25px;}
 .FeedBack .commentbox #commentform td span{
	font-weight:bold;
	color:#900;}
 .FeedBack .commentbox #commentform .Cbutton{
	line-height:35px;
	height:35px;
	background:#27323F;
	border:none;
	color:#FFFFFF;
	font-size:16px;
	cursor:pointer;
	padding:0px 20px;
	border-radius:5px;
	letter-spacing:5px;
	text-align:center;
	}
	
#body .inner .right .main .FeedBack .commentlist dt{
	padding:5px 10px;
	background-color:#dededc;
	height:22px;
	line-height:22px;
	font-size:12px;}	
#body .inner .right .main .FeedBack .commentlist dd{
	padding:15px 0px 15px 0px;
	line-height:180%;
	font-size:14px;
	}	
#body .inner .right .main .FeedBack .commentlist dd  b{
	color:#458D3A;}

#body .inner .right .main .FeedBack .commentlist dd span{
	color:#A00000;}	
#body .inner .right .main .FeedBack .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}



.clicktimes{
	display:none;}
/*img list*/
.HituxImgList{}
.HituxImgList ul li{
	float:left;
	width:33%;
	padding:20px 0px;}

.HituxImgList ul li .LiInner{width:200px;height:150px;position:relative;overflow:hidden;cursor:pointer;margin:auto;}
.HituxImgList .txt{width:200px;height:35px; background:url(../../images/1px.png) repeat;position:absolute;left:0;bottom:0;color:#fff;font-family:"微软雅黑";}
.HituxImgList li img{
	width:200px;
	height:150px;}
.HituxImgList .txt h3{font-size:14px;font-weight:100;height:35px;text-align:center;line-height:35px;}
.HituxImgList .txt p{font-size:14px;text-align:center;}
.HituxImgList .txt a{
	color:#FFF;}
.HituxImgList .txt a:hover{
	color:#F5F5F5;
	text-decoration:none;}


.ImageList{
	padding:10px 0px;}
.ImageList .ImageBlockBG{
	float:left;
	padding:10px 10px 20px 26px;}
.content .ImageList .ImageBlockBG{
	padding:10px 10px 20px 15px;}
.ImageList .ImageBlock{
	padding:10px;
	width:157px;
	height:138px;
	overflow:hidden;
	border:1px solid #DDDDDD;
	cursor:pointer;}
.content .ImageList .ImageBlock{
	height:138px;
	float:left;
	padding:5px;}	
.ImageList .ImageBlock:hover{
	border:1px solid #27323F;
	background-color:#F5F5F5;
}	
.ImageList .ImageBlock .ImageNote{
	padding:5px;
	line-height:25px;
	color:#FFFFFF;
	font-size:11px;}
.ImageList .ImageBlock p a{
	color:#FFFFFF;}		 
.ImageList .ImageBlock img{
	width:155px;
	height:116px;
	border:1px solid #F5F5F5;}
.ImageList .ImageBlock img:hover{
	border:1px solid #DDDDDD;}
	
.ImageList .ImageBlock p{
	text-align:center;
	bottom:0px;
	background-color:#333;
	color:#FFFFFF;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	height:20px;
	line-height:20px;}
.content .ImageList .ImageBlock p{
	color:#FFFFFF;}	
.ImageList .ImageBlock a{
	text-decoration:none;}
#body .prenext .blk_29 {	 PADDING:0px 0px; OVERFLOW: hidden;  ZOOM: 1; POSITION: relative;}
	
#body .prenext .blk_29 .LeftBotton {	BACKGROUND: url(../../images/Arrow_l.jpg) no-repeat -1px 0px; LEFT: 0px; FLOAT: left; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 50px; HEIGHT: 114px}
#body .prenext .blk_29 .RightBotton {	RIGHT: 5px; BACKGROUND: url(../../images/Arrow_r.jpg) no-repeat -0px 0px; FLOAT: right;right:0px; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 50px; HEIGHT: 114px}
#body .prenext .blk_29 .Cont {	MARGIN: 0px auto; OVERFLOW: hidden;  PADDING:15px 0 0 0px;float:left;height:170px;width:606px;POSITION: relative;left:35px;}
#body .prenext .blk_29 .box {	FLOAT: left; WIDTH: 202px; TEXT-ALIGN: center;}
#body .prenext .blk_29 .box IMG {	BORDER: #ccc 1px solid; PADDING: 3px; DISPLAY: block; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN: 0px auto; width:160px;height:120px;}
#body .prenext .blk_29 .box A:hover IMG {	BORDER: #3092b9 1px solid;}
#body .prenext .blk_29 .box P {	WIDTH: 202px; LINE-HEIGHT: 20px;text-align:center;font-size:12px;color:#3092b9}

/* open div*/
#popupMask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:9990;
	background-color:#000;
	-moz-opacity: 0.7;
	opacity:0.70;
	filter: alpha(opacity=70);
	font-size:12px;
}
#popupContainer {
	position: absolute;
	z-index: 9991;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
	}
#popupInner {
	border: 3px solid #27323F;
	background-color: #FFFFFF;
	}
#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 9;
}
#popupTitleBar {
	background:url("../../images/box_bg1.jpg") repeat-x left top;
	color: #27323F;
	font-weight: bold;
	height: 1.3em;
	padding: 5px;
	z-index: 9992;
	text-align:center;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}
#popupControls a span {
	display: block;
	height: 15px;
	width: 15px;
	text-indent: -9000px;
	background: url('../../images/close.gif') no-repeat;
}

.VideoBox{
	padding:10px;}
							
 .right .news-02 {
    padding: 0px 0;
}
 .right .news-02 ul li {
    padding: 20px 0;
    width: 780px;
	border-bottom:1px dotted #DEDEDE;
}
 .right .news-02 ul li .time {
    float: left;
    font-size: 14px;
    text-align: center;
    width: 202px;
	color:#27323F;
	height:152px;
	overflow:hidden;
}
 .right .news-02 ul li .time img{
	 width:200px;
	 height:150px;
	 border:1px solid #F5F5F5;
	 border-radius:5px;
	 }
 .right .news-02 ul li .time strong {
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    width: 100%;
}
 .right .news-02 ul li .time-txt {
    float: right;
    width: 530px;
}
 .right .news-02 ul li .time-txt .KnowMore{
	 padding:10px 0px;
	 float:right;}
   .right .news-02 ul li .time-txt .KnowMore a{
	 display:block;
	 line-height:24px;
	 text-align:center;
	 background:#27323F;
	 color:#FFF;
	 font-size:14px;
	 width:100px;
	 }
   .right .news-02 ul li .time-txt .KnowMore a:hover{
	   background:#000;
	   text-decoration:none;}
 .right .news-02 ul li .time-txt h3 {
    color: #000000;
    font-size: 16px;
    height: 30px;
	font-weight:normal;}
 .right .news-02 ul li .time-txt h3 a {
    color: #000000;
}
 .right .news-02 ul li .time-txt h3 a:hover {
    color: #27323F;
}
 .right .news-02 ul li .time-txt h3 strong {
	 color:#27323F;
	 padding-right:10px;}
 .right .news-02 ul li .time-txt p {
    font-size: 12px;
	color:#666;
	line-height:200%;
}						
									
.ColorLink a {color:#27323F;}
.ColorLink a:hover {color:#27323F;}

.WidthTab{
	width:10px;
	height:1px;
	float:left;}
.WidthTab2{
	width:20px;
	height:1px;
	float:left;}	
.HeightTab{
	height:10px;
	width:1px;
	overflow:hidden;}

.HeightTab2{
	height:20px;
	width:1px;
	overflow:hidden;}
.FontRed{
	color:#FF0000;}
p{
	line-height:180%;}

.ListDate{
	color:#666666;
	 }


	 
/* albumblock*/

 .albumblock{
	padding:10px 20px 30px 25px;
	float:left;
	}
 .albumblock .inner{
	width:160px;
	height:190px;
	position:relative;
	border:1px solid #DEDEDC;
	overflow:hidden;
	}

.albumblock .inner img{
	border:2px solid #fff;
	width:156px;
	height:156px;	}	

 .albumblock .inner .albumtitle{
	height:30px;
	line-height:30px;
	font-size:12px;
	width:160px;
	position:relative;
	bottom:0px;
	left:0;
	color:#27323F;
	font-weight:; 
	text-align:center;
	cursor:pointer;
	margin:auto;
	overflow:hidden;}
 .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

 .albumblock .inner  a{
	  }
 .albumblock .inner  a:hover{
	text-decoration:none;}
 .albumblock .inner  a:visited{
	text-decoration:none;}	
	
 .albumblock .inner:hover{
	border:1px solid #27323F;}	
	

  .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	
	}	
  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}	

/* SearchBar */

.SearchBar {
	width:220px;
	height:25px;
	background:url("../../images/HituxCMSRate/search_bg.gif") no-repeat left top;
}

.Sbox .SearchBar{
	margin:10px 0px 0px 10px;}

.SearchBar #search-text {
	width: 120px;
	padding:0px 5px;
 	margin:0px;
	color:#666666;
	height:23px;
	line-height:23px;
	font-size:12px;
	background:none;
	border:none;
	padding-left:25px;}

.SearchBar #search-submit {
	border:none;
	background:none;
	font-size:12px;
	color: #FFFFFF;
	height:25px;
	margin:0px;	
	cursor:pointer;
	padding:0px;
	line-height:25px;
	width:54px;
}

/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	overflow:hidden;
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	




/*backtotop*/
.backToTop {
 display: none;
 width: 50px;
 height:50px;
 line-height: 1.2;
 background:url("http://127.0.0.1/images/HituxCMSRate/back_top.png") left top;;
 color: #fff;
 font-size: 12px;
 text-align: center;
 position: fixed;
 _position: absolute;
 right: 10px;
 bottom: 100px;
 _bottom: "auto";
 cursor: pointer;
 opacity: .6;
 filter: Alpha(opacity=60);
}


/* open div*/
#popupMask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:9990;
	background-color:#000;
	-moz-opacity: 0.7;
	opacity:0.70;
	filter: alpha(opacity=70);
}
#popupContainer {
	position: absolute;
	z-index: 9991;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
	}
#popupInner {
	border: 3px solid #27323F;
	background-color: #FFFFFF;
	}
#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 9;
}
#popupTitleBar {
	background:url("../../images/box_bg1.jpg") repeat-x left top;
	color: #27323F;
	font-weight: bold;
	height: 1.3em;
	padding: 5px;
	z-index: 9992;
	text-align:center;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}
#popupControls a span {
	display: block;
	height: 15px;
	width: 15px;
	text-indent: -9000px;
	background: url('../../images/close.gif') no-repeat;
}

.VideoBox{
	padding:10px;}


/*product*/
.RightNav span{
	color:#27323F;}
 .ClassNav{
	padding:0px 0px;}
	
 .ClassNav .NavTree ul{
}
	
 .ClassNav .NavTree ul li{
position: relative;
}
	
/*1st level sub menu style */
 .ClassNav .NavTree ul li ul{
left: 178px; /* Parent menu width - 1*/
position: positive;
width: 246px; /*sub menu width*/
top: 0;
display: none;
border:1px solid #27323F;
border-top:2px solid #27323F;
background:#FFFFFF;
filter:progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=3, Direction=135);
z-index:2000;
}
.RightNav .ClassNav .NavTree ul li ul{
	 width:265px;}

/*All subsequent sub menu levels offset */
 .ClassNav .NavTree ul li ul li ul{ 
left: 159px; /* Parent menu width - 1*/
z-index:2000;}
/* menu links style */
 .ClassNav .NavTree ul li a{
	display:block;
	height:36px;
	line-height:36px;
	padding-left:30px;
	border-top:1px solid #E5E5E5;
	background:#F3F3F3 url("../../images/icon_3.jpg") no-repeat 12px center;
	 }	

 .ClassNav .NavTree ul li li{
	background:url("../../images/HituxCMSRate/box_icon1.png") no-repeat 12px 12px;
	padding-left:0;
	text-align:center;
	z-index:2000;
}
 .ClassNav .NavTree ul li li a{
	border-bottom:1px solid #DDDDDD;
	padding-left:10px;
	z-index:2000;
	font-weight:normal;}
 .ClassNav .NavTree ul .current a{
	color:#27323F;
	font-weight:bold;}
 .ClassNav .NavTree ul .current li a{
	background:#F3F3F3;
	color:#27323F;
	font-weight:Normal;}
		
 .ClassNav .NavTree ul li a:hover{
	color:#fff;
	background:#27323F;
	font-weight:bold;
	text-decoration:none;}
 .ClassNav .NavTree .subfolderstyle{
}
/* Holly Hack for IE \*/
* html  .ClassNav .NavTree ul li { float: left; height: 1%;z-index:2000; }
* html  .ClassNav .NavTree ul li a { height: 1%;z-index:2000; }
/* End */	


/*service*/
.qqbox a:link {
	color: #000;
	text-decoration: none;
}
.qqbox a:visited {
	color: #000;
	text-decoration: none;
}
.qqbox a:hover {
	color: #f80000;
	text-decoration: underline;
}
.qqbox a:active {
	color: #f80000;
	text-decoration: underline;
}
.qqbox {
	width:132px;
	height:auto;
	overflow:hidden;
	position:absolute;
	right:0;
	top:200px;
	color:#000000;
	font-size:12px;
	letter-spacing:0px;
	z-index:500;
}
.qqlv {
	width:33px;
	height:256px;
	overflow:hidden;
	position:relative;
	float:right;
	z-index:50px;
}
.qqkf {
	width:120px;
	height:auto;
	overflow:hidden;
	right:0;
	top:0;
	z-index:99px;
	border:6px solid #cc0000;
	background:#fff;
}
.qqkfbt {
	width:118px;
	height:20px;
	overflow:hidden;
	background:#cc0000;
	line-height:20px;
	font-weight:bold;
	color:#fff;
	position:relative;
	border:1px solid #fff;
	cursor:pointer;
	text-align:center;
}
.qqkfhm {
	width:112px;
	height:22px;
	overflow:hidden;
	line-height:22px;
	padding-right:8px;
	position:relative;
	margin:3px 0;
}
.bgdh {
	width:102px;
	padding-left:10px;
}
#K1 {
	padding-left:3px;
}
#K1 p{
	padding:5px 0px;}	

/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }									